body {
  background: #ffffff;
  font-family: Verdana;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
}

.graph {
  border: 2px dashed #999999;
  height: 95vh;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  width: 95vw;
}

.group {
  opacity: 0.7;
  stroke: #ffffff;
  stroke-width: 1.5px;
}

.group-label {
  font-weight: bold;
}

.link {
  stroke: #7a4e4e;
  stroke-opacity: 1;
  stroke-width: 3px;
}

.label {
  fill: #000000;
}

.node {
  stroke: #ffffff;
  stroke-width: 1.5px;
}
